_ReSharper*
[Bb]in
obj
objd
/out/
/target/
/tmp/
App_Data
*.user
*.sln.cache
*.suo
TestResults
[Tt]humbs.db
buildd.*
build.*
buildout.*
*.log
*.bak
OACRTemp/
build_logs/
lock
/public/inc/bldver.cpp
/public/inc/bldver.cs
/public/inc/bldver.h
/public/inc/bldver.vb
/public/inc/sources.ver
/data
/Symbols
/drop
/.corext/.pkg/
/.corext/gen/

#pacman
packages

# quickbuild.exe
/version/
/VersionGeneratingLogs/
QLogs
QLocal
QTestLogs

# bad tlb/chm generators in nmake tree
*.tlb
*.chm

# dumb silverlight
ClientBin/

# dumb azure
*.build.csdef
csx/

# uwp
.vs/
bin/
obj/
*.csproj.user
project.lock.json

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
_pkginfo.txt

# nuget
*.nuget.props
*.nuget.targets

